.carousel-item {
    border: 1px solid gray; 
    height: 250px;
    min-width: 150px;
    margin-right: 7rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.carousel-item:hover {
    border: 1px solid #0aad0a;
    box-shadow: 2px 5px 5px 3px lightgray;
}

.shop-btn {
    width: 8vw;
    color: white;
    background-color: #001e2b;
    border: none;
    padding: 0.8rem;
    display: flex;
    min-width: 100px;
    justify-content: center;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0;
}

.popular-item {
    border: 1px solid lightgray;
    border-radius: 8px;
    cursor:pointer;
}

.popular-item:hover {
    border: 1px solid green;
    box-shadow: 1px 1px 3px 1px lightgray;
}

.image-btns {
    margin-top: 6rem;
    margin-left: 4rem;
    margin-right: 0.5rem;
    opacity: 0;
}

.image-btns button {
    border: none;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px gray;
}

.image-btns button:hover {
    background-color: #0aad0a;
}

.btn-icon {
    font-size: 1.5rem;
    color: gray;
}

.btn-icon:hover {
    color: white;
}
.image-btns button:first-child {
    cursor: pointer;
}

.image-btns button:last-child {
    cursor: pointer;
}

.image-btns:hover {
    opacity: 100;
}


.image-btn:hover, .image-btn2:hover {
    opacity: 100;
}

.add-btn {
    background: #0aad0a;
    border: none;
    color: white;
    font-weight: 600;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    cursor: pointer;
    display: flex;
    gap: "0.2rem";
    align-items: center;
}


@media screen and (max-width: 768px) {
    .flex-breakPt, .footer {
        flex-direction: column;
    }

    .footer {
        gap: 2rem;
    }
    .carousel-item {
        min-width: 22vw;
    }
}

@media screen and (max-width: 550px) {
    .carousel-item {
        min-width: 50vw;
    }
}
